[submodule "spaethtech/php-support"]
	path = lib/php-support
	url = https://github.com/spaethtech/php-support
[submodule "spaethtech/php-collections"]
	path = lib/php-collections
	url = https://github.com/spaethtech/php-collections
[submodule "spaethtech/php-phpdoc"]
	path = lib/php-phpdoc
	url = https://github.com/spaethtech/php-phpdoc
[submodule "spaethtech/php-dynamics"]
	path = lib/php-dynamics
	url = https://github.com/spaethtech/php-dynamics
[submodule "spaethtech/php-annotations"]
	path = lib/php-annotations
	url = https://github.com/spaethtech/php-annotations
[submodule "spaethtech/php-slim"]
	path = lib/php-slim
	url = https://github.com/spaethtech/php-slim
[submodule "spaethtech/php-slim-imagick"]
	path = lib/php-slim-imagick
	url = https://github.com/spaethtech/php-slim-imagick
[submodule "spaethtech/php-html"]
	path = lib/php-html
	url = https://github.com/spaethtech/php-html
