[submodule "spaethtech/php-support"]
	path = lib/support
	url = https://gitlab.com/spaethtech/php/support
[submodule "spaethtech/php-collections"]
	path = lib/collections
	url = https://gitlab.com/spaethtech/php/collections
[submodule "spaethtech/php-phpdoc"]
	path = lib/phpdoc
	url = https://gitlab.com/spaethtech/php/phpdoc
[submodule "spaethtech/php-dynamics"]
	path = lib/dynamics
	url = https://gitlab.com/spaethtech/php/dynamics
[submodule "spaethtech/php-annotations"]
	path = lib/annotations
	url = https://gitlab.com/spaethtech/php/annotations
[submodule "spaethtech/php-slim"]
	path = lib/slim
	url = https://gitlab.com/spaethtech/php/slim
[submodule "spaethtech/php-slim-imagick"]
	path = lib/slim-imagick
	url = https://gitlab.com/spaethtech/php/slim-imagick
[submodule "spaethtech/php-html"]
	path = lib/html
	url = https://gitlab.com/spaethtech/php/html
[submodule "spaethtech/php-rest"]
	path = lib/rest
	url = https://gitlab.com/spaethtech/php/rest
[submodule "spaethtech/php-sftp"]
	path = lib/sftp
	url = https://gitlab.com/spaethtech/php/sftp
[submodule "spaethtech/php-data"]
	path = lib/data
	url = https://gitlab.com/spaethtech/php/data
[submodule "spaethtech/php-twig"]
	path = lib/twig
	url = https://gitlab.com/spaethtech/php/twig
[submodule "spaethtech/php-http"]
	path = lib/http
	url = https://gitlab.com/spaethtech/php/http
[submodule "spaethtech/php-slim-twig"]
	path = lib/slim-twig
	url = https://gitlab.com/spaethtech/php/slim-twig
[submodule "spaethtech/php-localization"]
	path = lib/localization
	url = https://gitlab.com/spaethtech/php/localization
[submodule "spaethtech/php-synchronization"]
	path = lib/synchronization
	url = https://gitlab.com/spaethtech/php/synchronization
[submodule "spaethtech/php-templating"]
	path = lib/templating
	url = https://gitlab.com/spaethtech/php/templating
