<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap                   = "vendor/autoload.php"
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    cacheResultFile             = ".cache/.phpunit.result.cache"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false">

    <testsuites>
        <testsuite name="annotations">
            <directory>lib/annotations/tests</directory>
        </testsuite>
        <testsuite name="collections">
            <directory>lib/collections/tests</directory>
        </testsuite>
        <testsuite name="common">
            <directory>lib/common/tests</directory>
        </testsuite>
        <testsuite name="data">
            <directory>lib/data/tests</directory>
        </testsuite>
        <testsuite name="dynamics">
            <directory>lib/dynamics/tests</directory>
        </testsuite>
        <testsuite name="phpdoc">
            <directory>lib/phpdoc/tests</directory>
        </testsuite>
        <testsuite name="rest">
            <directory>lib/rest/tests</directory>
        </testsuite>
        <testsuite name="robo">
            <directory>lib/robo/tests</directory>
        </testsuite>
        <testsuite name="slim">
            <directory>lib/slim/tests</directory>
        </testsuite>
        <testsuite name="slim-twig">
            <directory>lib/slim-twig/tests</directory>
        </testsuite>
        <testsuite name="support">
            <directory>lib/support/tests</directory>
        </testsuite>
        <testsuite name="synchronization">
            <directory>lib/synchronization/tests</directory>
        </testsuite>
        <testsuite name="templating">
            <directory>lib/templating/tests</directory>
        </testsuite>
        <testsuite name="twig">
            <directory>lib/twig/tests</directory>
        </testsuite>
    </testsuites>

    <coverage
        cacheDirectory=".cache"
        includeUncoveredFiles="true"
        processUncoveredFiles="true"
        pathCoverage="false"
        ignoreDeprecatedCodeUnits="true"
        disableCodeCoverageIgnore="true">
    </coverage>

    <php>
        <env name="APP_ENV" value="testing"/>
    </php>

</phpunit>
